In [33]:
import numpy as np
import pandas as pd
import cv2 
import pytesseract
from glob import glob
import spacy
import os
import string

In [34]:


def cleanText(txt):
    whitespace = string.whitespace
    punctuation = '!#$%&\'()*+:;<=>?[\\]^`{|}~'
    tabeWhiteSpace = str.maketrans('','',whitespace)
    tablePunctuation = str.maketrans('','',punctuation)
    text=str(txt)
    text = text.lower()
    removeWhiteSpace = text.translate(tabeWhiteSpace)
    removePunctuation = removeWhiteSpace.translate(tablePunctuation)
    return str(removePunctuation)

In [35]:
#Load NER model
model_ner = spacy.load('./output/model-best/')

In [36]:
# Load Image
image = cv2.imread('./data/6.jpg')
# cv2.imshow('businesscard',image)
# cv2.waitKey(0)
# cv2.destroyAllWindows()
# extract data using Pytesseract 
tessData = pytesseract.image_to_data(image)
#tessData
# convert into dataframe
tessList = list(map(lambda x:x.split('\t'), tessData.split('\n')))
df = pd.DataFrame(tessList[1:],columns=tessList[0])
df.dropna(inplace=True) # drop missing values
df['text'] = df['text'].apply(cleanText)

# convet data into content
df_clean = df.query('text != "" ')
content = " ".join([w for w in df_clean['text']])
print(content)
# get prediction from NER model
doc = model_ner(content)

cell 8099948528 te 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail .com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, secâ€™bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo

In [37]:
from spacy import displacy

In [38]:
#displacy.serve(doc,style='ent')

In [39]:
displacy.render(doc,style='ent')

### Tagging

In [40]:
docjson = doc.to_json()
docjson.keys()

dict_keys(['text', 'ents', 'tokens'])

In [41]:
doc_text = docjson['text']
doc_text

'cell 8099948528 te 8466045457 email lictsrikant@gmail.com life insurance corporation of india seosrika ntht@gmail .com thathineni srikanth insurance advisor agent code no. 0316164y life insurance corporation of india br. off. lic office, trimulgherry, secâ€™bad - 500 016. add. borabanda, hyderabad - 500 018. lictsrikant8099948528.blogspot.in, interviewsinhyderabad.blogspot.in facebook.com/lictsrikant8099948528, facebook.com/thathineni.srikanth.9 promote your business online pybo'

In [42]:
datafram_tokens = pd.DataFrame(docjson['tokens'])
datafram_tokens['token'] = datafram_tokens[['start','end']].apply(
    lambda x:doc_text[x[0]:x[1]] , axis = 1)
datafram_tokens.head(10)

   id  start  end                  token
0   0      0    4                   cell
1   1      5   15             8099948528
2   2     16   18                     te
3   3     19   29             8466045457
4   4     30   35                  email
5   5     36   57  lictsrikant@gmail.com
6   6     58   62                   life
7   7     63   72              insurance
8   8     73   84            corporation
9   9     85   87                     of

In [43]:
doc_text[30:35]

'email'

In [44]:
right_table = pd.DataFrame(docjson['ents'])[['start','label']]
datafram_tokens = pd.merge(datafram_tokens,right_table,how='left',on='start')

In [45]:
datafram_tokens.fillna('O',inplace=True)
datafram_tokens.head(10)

   id  start  end                  token    label
0   0      0    4                   cell        O
1   1      5   15             8099948528  B-PHONE
2   2     16   18                     te        O
3   3     19   29             8466045457  B-PHONE
4   4     30   35                  email        O
5   5     36   57  lictsrikant@gmail.com  B-EMAIL
6   6     58   62                   life    B-ORG
7   7     63   72              insurance    I-ORG
8   8     73   84            corporation    I-ORG
9   9     85   87                     of    I-ORG

In [46]:
# join lable to df_clean dataframe
df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1 
df_clean['start'] = df_clean[['text','end']].apply(lambda x: x[1] - len(x[0]),axis=1)

C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\1286819257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['end'] = df_clean['text'].apply(lambda x: len(x)+1).cumsum() - 1
C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\1286819257.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['start'] = df_clean[['text','end']].apply(lambda x: x[1] - len(x[0]),axis=1)

In [47]:
# inner join with start 
dataframe_info = pd.merge(df_clean,datafram_tokens[['start','token','label']],how='inner',on='start')

In [48]:
dataframe_info.tail(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
41,5,1,6,3,1,6,495,474,53,21,95,018.,307,303,018,O
42,5,1,6,3,2,1,46,506,430,27,86,"lictsrikant8099948528.blogspot.in,",342,308,lictsrikant8099948528.blogspot.in,I-ORG
43,5,1,6,3,2,2,488,506,429,27,86,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,O
44,5,1,6,3,3,1,44,539,472,25,87,"facebook.com/lictsrikant8099948528,",412,377,facebook.com/lictsrikant8099948528,O
45,5,1,6,3,3,2,526,539,443,22,91,facebook.com/thathineni.srikanth.9,447,413,facebook.com/thathineni.srikanth.9,O
46,5,1,6,3,4,1,46,571,106,21,96,promote,455,448,promote,O
47,5,1,6,3,4,2,161,576,56,22,96,your,460,456,your,O
48,5,1,6,3,4,3,226,571,111,21,96,business,469,461,business,O
49,5,1,6,3,4,4,347,571,74,21,92,online,476,470,online,O
50,5,1,6,3,4,5,432,571,96,27,92,pybo,481,477,pybo,O

### Bounding Box

In [49]:
bb_df = dataframe_info.query("label != 'O' ")
img = image.copy()

for x,y,w,h,label in bb_df[['left','top','width','height','label']].values:
    x = int(x)
    y = int(y)
    w = int(w)
    h = int(h)
    
    cv2.rectangle(img,(x,y),(x+w,y+h),(0,255,0),2)
    cv2.putText(img,str(label),(x,y),cv2.FONT_HERSHEY_PLAIN,1,(255,0,255),2)
    
    
cv2.imshow('Predictions',img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [50]:
bb_df['label'] = bb_df['label'].apply(lambda x: x[2:])
bb_df.head()

C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\2854881843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['label'] = bb_df['label'].apply(lambda x: x[2:])

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,PHONE
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,PHONE
5,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL
6,5,1,3,3,1,1,46,170,33,14,96,life,62,58,life,ORG
7,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63,insurance,ORG

In [51]:
# group the label
class groupgen():
    def __init__(self):
        self.id = 0
        self.text = ''
        
    def getgroup(self,text):
        if self.text == text:
            return self.id
        else:
            self.id +=1
            self.text = text
            return self.id
        
grp_gen = groupgen()

In [52]:
bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\472836701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['group'] = bb_df['label'].apply(grp_gen.getgroup)

In [53]:
bb_df

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label,group
1,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5,8099948528,PHONE,1
3,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19,8466045457,PHONE,1
5,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36,lictsrikant@gmail.com,EMAIL,2
6,5,1,3,3,1,1,46,170,33,14,96,life,62,58,life,ORG,3
7,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63,insurance,ORG,3
8,5,1,3,3,1,3,183,170,117,14,96,corporation,84,73,corporation,ORG,3
9,5,1,3,3,1,4,306,170,20,14,96,of,87,85,of,ORG,3
10,5,1,3,3,1,5,332,170,42,14,96,india,93,88,india,ORG,3
11,5,1,3,3,1,6,668,166,119,37,92,seosrika,102,94,seosrika,EMAIL,4
12,5,1,3,3,1,7,791,165,162,44,91,ntht@gmail,113,103,ntht@gmail,EMAIL,4
13,5,1,3,3,1,8,958,180,66,19,69,.com,118,114,.com,EMAIL,4
14,5,1,4,1,1,1,310,228,232,30,92,thathineni,129,119,thathineni,NAME,5
15,5,1,4,1,1,2,557,227,198,32,96,srikanth,138,130,srikanth,NAME,5
16,5,1,5,1,1,1,399,271,147,25,96,insurance,148,139,insurance,DES,6
17,5,1,5,1,1,2,555,271,114,25,96,advisor,156,149,advisor,DES,6
22,5,1,6,1,1,1,47,396,83,30,96,life,185,181,life,ORG,7
23,5,1,6,1,1,2,145,395,236,32,96,insurance,195,186,insurance,ORG,7
24,5,1,6,1,1,3,395,395,296,32,96,corporation,207,196,corporation,ORG,7
25,5,1,6,1,1,4,706,395,53,32,94,of,210,208,of,ORG,7
26,5,1,6,1,1,5,775,396,107,30,94,india,216,211,india,ORG,7
42,5,1,6,3,2,1,46,506,430,27,86,"lictsrikant8099948528.blogspot.in,",342,308,lictsrikant8099948528.blogspot.in,ORG,7

In [54]:
# right and bottom of bounding box
bb_df[['left','top','width','height']] = bb_df[['left','top','width','height']].astype(int)
bb_df['right'] = bb_df['left'] + bb_df['width']
bb_df['bottom'] = bb_df['top'] + bb_df['height']

C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\262737354.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df[['left','top','width','height']] = bb_df[['left','top','width','height']].astype(int)
C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\262737354.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['right'] = bb_df['left'] + bb_df['width']
C:\Users\oussemanaffety\AppData\Local\Temp\ipykernel_6428\262737354.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bb_df['bottom'] = bb_df['top'] + bb_df['height']

In [55]:
# tagging: groupby group
col_group = ['left','top','right','bottom','label','token','group']
group_tag_img = bb_df[col_group].groupby(by='group')

In [56]:
img_tagging = group_tag_img.agg({
    
    'left':min,
    'right':max,
    'top':min,
    'bottom':max,
    'label':np.unique,
    'token':lambda x: " ".join(x)
    
})

In [57]:
img_tagging

,left,right,top,bottom,label,token
group,,,,,,
1,822,1025,53,136,[PHONE],8099948528 8466045457
2,709,1025,136,167,[EMAIL],lictsrikant@gmail.com
3,46,374,151,193,[ORG],life insurance corporation of india
4,668,1024,165,209,[EMAIL],seosrika ntht@gmail .com
5,310,755,227,259,[NAME],thathineni srikanth
6,399,669,271,296,[DES],insurance advisor
7,46,882,395,533,[ORG],life insurance corporation of india lictsrikan...

In [63]:
img_bb = image.copy()
for l, r, t, b, label, token in img_tagging.values:
    cv2.rectangle(img_bb, (l, t), (r, b), (0, 255, 0), 2)
    
    # Convert label to a string if it's not already
    label_str = str(label)
    cv2.putText(img_bb, label_str, (l, t), cv2.FONT_HERSHEY_PLAIN, 1, (255, 0, 255), 2)

cv2.imshow('Bounding Box Card', img_bb)
cv2.waitKey(0)
cv2.destroyAllWindows()

## Parser

In [70]:
def parser(text,label):
    if label == 'PHONE':
        text = text.lower()
        text = re.sub(r'\D','',text)
        
    elif label == 'EMAIL':
        text = text.lower()
        allow_special_char = '@_.\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_special_char),'',text)
        
    elif label == 'WEB':
        text = text.lower()
        allow_special_char = ':/.%#\-'
        text = re.sub(r'[^A-Za-z0-9{} ]'.format(allow_special_char),'',text)
        
    elif label in ('NAME', 'DES'):
        text = text.lower()
        text = re.sub(r'[^a-z ]','',text)
        text = text.title()
        
    elif label == 'ORG':
        text = text.lower()
        text = re.sub(r'[^a-z0-9 ]','',text)
        text = text.title()
        
    return text

#### Entities

In [72]:
import re

In [73]:
info_array = dataframe_info[['token','label']].values
entities = dict(NAME=[],ORG=[],DES=[],PHONE=[],EMAIL=[],WEB=[])
previous = 'O'

for token, label in info_array:
    bio_tag = label[0]
    label_tag = label[2:]
    
    # step -1 parse the token
    text = parser(token,label_tag)
    
    if bio_tag in ('B','I'):
        
        if previous != label_tag:
            entities[label_tag].append(text)
            
        else:
            if bio_tag == "B":
                entities[label_tag].append(text)
                
            else:
                if label_tag in ("NAME",'ORG','DES'):
                    entities[label_tag][-1] = entities[label_tag][-1] + " " + text
                    
                else:
                    entities[label_tag][-1] = entities[label_tag][-1] + text
                    
    
    
    previous = label_tag

In [74]:
entities

{'NAME': ['Thathineni Srikanth'],
 'ORG': ['Life Insurance Corporation Of India',
  'Life Insurance Corporation Of India',
  'Lictsrikant8099948528Blogspotin'],
 'DES': ['Insurance Advisor'],
 'PHONE': ['8099948528', '8466045457'],
 'EMAIL': ['lictsrikant@gmail.com', 'seosrikantht@gmail.com'],
 'WEB': []}